Importing the Dependencies

In [ ]:
 import numpy as np
 import pandas as pd
 from sklearn.preprocessing import StandardScaler
 from sklearn.model_selection import train_test_split
 from sklearn import svm
 from sklearn.metrics import accuracy_score

Data Collection and Analysis

PIMA Diabetes Dataset

In [ ]:
# Loading the diabetes dataset to a panda DataFrame
diabetes_dataset = pd.read_csv('/content/diabetes predic.csv')

In [ ]:
# printing the first 5 rows of the dataset
diabetes_dataset.head()

   Pregnancies  Glucose  Insulin   BMI  Age  Outcome
0            4      148      100  33.6   50        1
1            1       85        0  26.6   31        0
2            3      183      110  23.3   32        1
3            1       89       94  28.1   21        0
4            0      137      168  43.1   33        1

In [ ]:
diabetes_dataset.isnull().sum()

Pregnancies    0
Glucose        0
Insulin        0
BMI            0
Age            0
Outcome        0
dtype: int64

In [32]:
diabetes_dataset.duplicated().sum()

0

In [ ]:
# number of rows and Columns in this dataset
diabetes_dataset.shape

(768, 6)

In [ ]:
# getting the statistical measures of the data
diabetes_dataset.describe()

       Pregnancies     Glucose     Insulin         BMI         Age     Outcome
count   768.000000  768.000000  768.000000  768.000000  768.000000  768.000000
mean      3.682292  121.011719   79.071615   31.992578   33.240885    0.348958
std       3.196820   31.980129  110.784162    7.884160   11.760232    0.476951
min       0.000000    0.000000    0.000000    0.000000   21.000000    0.000000
25%       1.000000   99.000000    0.000000   27.300000   24.000000    0.000000
50%       3.000000  117.000000   36.000000   32.000000   29.000000    0.000000
75%       6.000000  141.000000  128.250000   36.600000   41.000000    1.000000
max      17.000000  199.000000  744.000000   67.100000   81.000000    1.000000

In [ ]:
diabetes_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 -> Non-Diabetic

1 -> Diabetic

In [ ]:
diabetes_dataset.groupby('Outcome').mean()

         Pregnancies     Glucose  Insulin        BMI        Age
Outcome
0           3.202000  109.980000   68.792  30.304200  31.190000
1           4.578358  141.593284   98.250  35.142537  37.067164

In [ ]:
# separating the data and labels
X = diabetes_dataset.drop(columns = 'Outcome', axis=1)
Y = diabetes_dataset['Outcome']

In [ ]:
print(X)

     Pregnancies  Glucose  Insulin   BMI  Age
0              4      148      100  33.6   50
1              1       85        0  26.6   31
2              3      183      110  23.3   32
3              1       89       94  28.1   21
4              0      137      168  43.1   33
..           ...      ...      ...   ...  ...
763           10      101      180  32.9   63
764            2      122        0  36.8   27
765            5      121      112  26.2   30
766            1      126        0  30.1   47
767            1       93        0  30.4   23

[768 rows x 5 columns]

In [ ]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(X)

StandardScaler()

In [ ]:
standardized_data = scaler.transform(X)

In [ ]:
print(standardized_data)

[[ 9.94473723e-02  8.44457775e-01  1.89034458e-01  2.04012771e-01
   1.42599540e+00]
 [-8.39596668e-01 -1.12679928e+00 -7.14209890e-01 -6.84421946e-01
  -1.90671905e-01]
 [-2.13567308e-01  1.93960058e+00  2.79358893e-01 -1.10325546e+00
  -1.05584152e-01]
 ...
 [ 4.12462052e-01 -3.66677280e-04  2.97423780e-01 -7.35189644e-01
  -2.75759658e-01]
 [-8.39596668e-01  1.56082295e-01 -7.14209890e-01 -2.40204587e-01
   1.17073215e+00]
 [-8.39596668e-01 -8.76480924e-01 -7.14209890e-01 -2.02128814e-01
  -8.71373930e-01]]

In [ ]:
X = standardized_data
Y = diabetes_dataset['Outcome']

In [ ]:
print(X)
print(Y)

[[ 9.94473723e-02  8.44457775e-01  1.89034458e-01  2.04012771e-01
   1.42599540e+00]
 [-8.39596668e-01 -1.12679928e+00 -7.14209890e-01 -6.84421946e-01
  -1.90671905e-01]
 [-2.13567308e-01  1.93960058e+00  2.79358893e-01 -1.10325546e+00
  -1.05584152e-01]
 ...
 [ 4.12462052e-01 -3.66677280e-04  2.97423780e-01 -7.35189644e-01
  -2.75759658e-01]
 [-8.39596668e-01  1.56082295e-01 -7.14209890e-01 -2.40204587e-01
   1.17073215e+00]
 [-8.39596668e-01 -8.76480924e-01 -7.14209890e-01 -2.02128814e-01
  -8.71373930e-01]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Train Test Split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(768, 5) (614, 5) (154, 5)

Training the Model

In [ ]:
classifier = svm.SVC(kernel='linear')

In [ ]:
#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

Model Evaluation

Accuracy Score

In [ ]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.7801302931596091

In [ ]:
# accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.7532467532467533

Making a Predictive System

In [33]:
input_data = (2,156,100,62.5,34)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

[[-0.52658199  1.09477613  0.18903446  3.87197896  0.06459135]]
[1]
The person is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"